<div class="p-4 flex flex-col justify-center items-center h-screen w-screen">
  <h2 class="m-2 p-2 text-3xl text-gray-800">Login</h2>
  <mat-card class="w-3/4 md:w-1/3 lg:w-1/5">
    <!-- Form -->
    <form [formGroup]="loginForm" (submit)="login()">
      <div class="flex flex-col">
        <!-- Email -->
        <mat-form-field [class]="getInputClasses(email)">
          <mat-label>Email</mat-label>
          <mat-icon matPrefix class="w-auto h-auto mr-2">
            alternate_email
          </mat-icon>
          <input
            class="mb-2"
            matInput
            type="email"
            name="email"
            autocomplete="off"
            formControlName="email"
          />
        </mat-form-field>

        <!-- Password -->
        <mat-form-field [class]="getInputClasses(password)">
          <mat-label>Password</mat-label>
          <mat-icon matPrefix class="w-auto h-auto mr-2">vpn_key</mat-icon>
          <input
            class="mb-2"
            matInput
            type="password"
            name="password"
            formControlName="password"
          />
        </mat-form-field>
        <!-- Login button -->
        <button
          mat-flat-button
          color="primary"
          class="mt-2 uppercase"
          [disabled]="loginForm.invalid"
        >
          Login
        </button>
      </div>
    </form>
  </mat-card>
</div>
